.search-container {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 5px;
  height: 60px;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

#search-input {
  flex: 1;
  border: none;
  outline: none;
  padding-top: 30px;
}
button{
  margin: 8px;

}